<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
  <!--Maybe some other settings-->
      <rewrite>
          <rules>
              <rule name="http to https" stopProcessing="true">
                  <match url="(.*)" />
                  <conditions>
                      <add input="{HTTPS}" pattern="^OFF$" />
                  </conditions>
                  <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
              </rule>
              <rule name="Redirect to www" patternSyntax="Wildcard" stopProcessing="true">
                 <match url="*" />
                 <conditions>
                   <add input="{HTTP_HOST}" pattern="synergybysidel.com" />
                 </conditions>
                 <action type="Redirect" url="https://www.synergybysidel.com/{R:0}" />
              </rule>
          </rules>
      </rewrite>
	   <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="WWW Server" areas="Rewrite,RequestRouting" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="301, 302, 303, 403.4" verbosity="Warning" />
                </add>
            </traceFailedRequests>
        </tracing>
  <!--Maybe some other settings-->
</system.webServer>

</configuration>